﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Principal.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

<title>Ejemplo TFI - Login</title>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContenidoPrincipal" Runat="Server">


    <span class="Etiqueta"> CONTENIDO </span><br />

    <asp:Label ID="Label1" runat="server" CssClass="Etiqueta" Text="Contenido ASP.NET"></asp:Label><br />

<input type="text" placeholder="Usuario" />
<br />
    <input type="password" placeholder="Contraseña" />

    <br />
    <input type="button" value="Ingrear" />


</asp:Content>

