﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PRINCIPAL.master.cs" Inherits="PRINCIPAL" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
     

    <script lang="javascript" src="js/Rutinas.js"></script>


</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <input type="button" value="cambiar color" onclick="console.log(document.getElementById('TextBox1')); CambiarColor(document.getElementById('TextBox1').value);  " />
        <br />
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
