﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="btnNuevo" runat="server" Text="Nuevo" OnClick="btnNuevo_Click" />
            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Cine.aspx">IR A PELICULAS</asp:HyperLink>
            <br /><br />

            <asp:HiddenField ID="hID" runat="server" Value ="0" /><br />
            <asp:TextBox ID="txtNombre" Placeholder="Ingrese el género" runat="server"></asp:TextBox>
            <br /><br />
            <asp:Button ID="btnGuardar" runat="server" Text="Guardar" OnClick="btnGuardar_Click" />
            <br /><br />

            <asp:GridView ID="Grilla" runat="server" OnRowCommand="Grilla_RowCommand">
                <Columns>
                    <asp:ButtonField CommandName="btnSeleccionar" Text="Seleccionar" />
                    <asp:ButtonField CommandName="btnBorrar" Text="Borrar" />
                </Columns>
            </asp:GridView>

        </div>
    </form>
</body>
</html>
