﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Escritorio.aspx.cs" Inherits="Escritorio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            <br />
            <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
            <br />

            <asp:GridView ID="GridView1" runat="server"></asp:GridView>
        <br />
            <asp:Button ID="Button1" runat="server" Text="Logout" OnClick="Button1_Click" />
            <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Cambiar Idioma" />
            <br />
            <br />
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <br />
            <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="Agregar Idioma" />
        </div>
    </form>
</body>
</html>
